
input[type="submit"]
{display: block;

  width: 200px;
  height: 50px;
  border: none;
  background: black;
  color: grey;
  font-family: Agency FB;
  font-size: 40px;

}
input[id='1']
{

 margin-top: 0px;  margin-left: 1100px; margin-bottom: -100px;

}input[id='2']
{

 margin-top: 50px;  margin-left: 1300px;
 }
 input[id='3']
 {

  margin-top: -50px;  margin-left: 1500px;
  }
p{margin-top: 100px;
  font-family: Agency FB;
  font-size: 60px;
  color: grey;
}
