body{
zoom: 100%;background-repeat: no-repeat;background-size:100%;
}
form{zoom: 100%;
  margin-right:39%;margin-top: -5%;margin-left: 39%;
  width: 20%;margin-bottom: 50%;
  height: 40%;
}
input{
font-size: 100%;
}
h2{
  font-family: Agency FB;

  font-size: 200%;
 color: grey;
}
input[type="text"]
{display: block;padding: 6%;
margin-bottom:4%;
width:100%;
}
input[type="number"]
{
  display: block;padding: 6%;
  margin-bottom: 4%;
  width:100%;
}
input[type="submit"]
{
  width: 80%;
  height: 23%;
  border: none;
  background: black;
  color: grey;
  font-family: Agency FB;
  font-size: px;

}input[type=radio] {
    border: .001%;
width:5%;
    height: 0.7em;
}
label{
  font-family: Agency FB;
  color: white;
  font-size: 100%;
}
